name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ "3.9", "3.10", "3.11", "3.12" ]
        backend: [ tensorflow, jax ]
        include:
          - backend: tensorflow
            packages: tensorflow
          - backend: jax
            packages: tensorflow jax[cpu]
    name: python-${{ matrix.python }}-${{ matrix.backend }}
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Setup python-${{ matrix.python }}-${{ matrix.backend }}
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python }}
      - name: Install tools
        run: |
          python3 -m pip install -r requirements-dev.txt
          python3 -m pip install ${{ matrix.packages }}
      - name: Test
        run: |
          ./tests/install_from_local_and_test.sh ${{ matrix.backend }}